<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>PiLights - clients</title>
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="my.css">
</head>

<body>
    <h1>Pi Lights client list</h1>

    {% for friend in friends %}
      <p>{{ friend }}</p>
    {% endfor %}

</body>

</html>
